h2 {
  color: aliceblue;
}

.team-item {
  background-color: rgb(211, 211, 211, 0.6);
}

.team-info .gelar {
  color: black;
  font-weight: 600;
  font-style: normal;
}

.team-info .terserah {
  color: black;
  font-weight: 500;
  font-family: "Bebas Neue";
}

.team-icon {
  margin-right: 30px;
}
