.kotak-desc {
  margin-top: 10vh;
  background-color: rgb(0, 0, 0, 0.3);
  margin-left: 23vh;
  margin-right: 23vh;
  border-radius: 25px;
  margin-bottom: 25vh;
}
.kotak-desc:hover {
  transform: scale(1.2);
  transition-duration: 0.3s;
}

.what-is-it {
  padding-top: 2rem;
  font-family: "Playfair Display";
  font-weight: 800;
  display: flex;
  justify-content: center;
}

.what-is {
  font-weight: 400;
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  font-family: "Playfair Display";
}

.desc-awal {
  font-family: "Poppins";
  font-size: 25px;
  display: flex;
  justify-content: center;
  margin-left: 3rem;
  margin-right: 3rem;
  text-align: center;
}

.visi {
  font-family: "Poppins";
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  margin-left: 3rem;
  margin-right: 3rem;
}

.misi {
  font-family: "Poppins";
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  margin-left: 3rem;
  margin-right: 3rem;
  padding-bottom: 2rem;
}

@media (max-width: 450px) {
  .kotak-desc {
    width: 25em;
    margin-left: 25px;
  }
  .kotak-desc:hover {
    transform: scale(0.9);
  }
  .what-is-it {
    font-size: 25px;
    font-weight: 400;
  }
  .what-is {
    font-size: 30px;
    font-family: "Playfair Display";
  }
  .desc-awal {
    font-size: 20px;
  }
  .visi {
    font-size: 20px;
  }
  .misi {
    font-size: 20px;
  }
}
