.JokeComponent {
  margin-top: 50px;
  background-color: burlywood;
  border-radius: 20rem;
  margin-left: 25vh;
  margin-right: 25vh;
}

.joke-ask {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-family: "Bebas Neue";
}
.joke-ans {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-family: "Poppins";
}
