.nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  justify-content: space-between;
  z-index: 100;
  background-color: rgba(125, 123, 123, 0.6);
  /* background-color: rgb(0, 0, 0, 0.3); */
}

button {
  background-color: transparent;
  color: #fff;
  font-weight: 600;
  border: 1px solid transparent;
  margin-top: 5px;
}
button:hover {
  background-color: transparent;
  color: red;
  border: 1px solid transparent;
  margin-top: 5px;
  transform: scale(1.5);
  transition-duration: 0.5s;
}

/* .nav .navbar {
  margin-top: 30px;
} */

.logo {
  color: white;
  font-size: 2em;
  cursor: default;
  margin-top: 15px;
  margin-left: 20px;
  cursor: pointer;
}

.logo a {
  text-decoration: none;
  color: #fff;
}
.logo a:hover {
  color: red;
  transition: 1s;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 600;
  /* border-radius: 20px; */
}

.navbar a:hover {
  color: red;
  transform: scale(1.5);
  transition-duration: 0.5s;
}

@media (max-width: 450px) {
  .navbar-collapse {
    margin-right: 160px;
    margin-top: -20px;
  }
}
