.judul-waktu {
  display: flex;
  justify-content: center;
  font-weight: 800;
  color: #fff;
  font-family: "Playfair Display";
  mix-blend-mode: difference;
}

.sub-waktu {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-family: "Playfair Display";
  mix-blend-mode: difference;
}
