.parallax header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.logo {
  color: white;
  font-size: 2em;
  cursor: default;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 600;
  padding: 6px 15px;
  border-radius: 20px;
}
