@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");

body {
  background-color: #131316;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

section {
  min-height: 50vh;
  background: transparent;
}

.scroll {
  display: grid;
  place-items: center;
  align-content: center;
  text-align: center;
}

.scroll :nth-child(1) {
  margin-top: 20px;
  height: 10vh;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1.5s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 1s;
}
